/*size-setting*/
@media (max-width: 767px){section{width:25% 40% 35%;}}
@media (min-width: 768px) and (max-width: 991px){section{width:50% 50% 100%;}}
@media (min-width: 992px){section{width:calc(100% / 3);}
/*general-setting*/
body{background:rgba(248,208,125,.95);}
.box{border:1.5px dashed rgba(19,19,19,.95);color:rgba(248,208,125,.85);height:300px;margin:5px;}
.box1 .h31{background:rgba(170,128,30,.85);}
.box2 .h32{background:rgba(79,116,103,.85);}
.box3 .h33{background:rgba(150,42,24,.85);}
.p1{color:rgba(170,128,30,95);}
.p2{color:rgba(79,116,103,.95);}
.p3{color:rgba(150,42,24,.95)}
section{display:flex;justify-content:space-around;}
/*font-size-setting*/
.header .h1{font-size:75%;color:rgba(19,19,19,.75);text-align:center;}
section .h3{font-size:25%;color:rgba(248,208,125,.75);}
