.box{border:1.5px solid rgba(255,3,62,.85);display:flex-wrap;width:98%;}
.header{border:1.5px dotted rgba(255,3,62,.85);width:98%;}
.footer{bottom:5%;position:fixed;width:98%;}
.right{float:right;margin-left:30px;}
.wrapper{margin:0 auto;}
/*size-setting*/
@media screen and (max-width: 767px){
  .box{flex-direction:row;width:100%;}
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .box{flex:1 1 2;flex-direction:row;}
  /*.box1,.box2{width:calc(100% / 2);float:left;}*/
  /*.box1{width:50%;float:left;}*/
  /*/*.box2{width:50%;float:right;}*/*/
  /*.box2{width:50%;float:left;}*/
  /*.box3{clear:both;}*/
}
@media screen and (min-width: 992px){.box{width:calc(100% / 3);}
/*general-setting*/
body{background:rgba(248,208,125,.95);}
.box{border:1.5px dashed rgba(19,19,19,.95);color:rgba(248,208,125,.85);height:300px;margin:5px;padding:30px;}
.box1 .h31{background:rgba(170,128,30,.85);}
.box2 .h32{background:rgba(79,116,103,.85);}
.box3 .h33{background:rgba(150,42,24,.85);}
.container{display:flex;margin:10px;padding:5px;}
.p1{color:rgba(170,128,30,95);}
.p2{color:rgba(79,116,103,.95);}
.p3{color:rgba(150,42,24,.95)}
/*font-size-setting*/
.header .h1{font-size:75%;color:rgba(19,19,19,.75);text-align:center;}
section .h3{font-size:125%;color:rgba(248,208,125,.75);}
.p{margin:3px;padding:1px;}
